.uploading-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
}
.uploading-content {
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #1f305b;
  color: #1f305b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
