.wrapper{
    position: relative;
    width: calc(100% - 300px);
    min-height: 80vh;
    left: 250px;
    top: 90px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
   background-color: #fff;
}