.unAuth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;

}
.unAuth-title {
  color: #00dadb;
}

.unAuth-img {
  width: 340px;
  height: 380px;
}
.unAuth-container button{
  height: 28px;
      outline: none;
      background-color: #1f305b;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;

  }
